@model DRMS_Models.DateDifferenceModel
@{
    Layout = "~/Views/Shared/_DRMSLayout.cshtml";
}
<canvas class='connecting-dots' id="experiment"></canvas>
<div class="container">
    <div class="container">
        <div class="wrapper">
            <form action="@Url.Action("EmployeeList","EmployeeList")" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">WEB日報管理システム</h3>

                <h4 class="form-signin-heading">社員一覧</h4>
                <hr class="colorgraph"><br>

                <table class="table table-hover table-striped header-fixed" id="staff_Table">
                    <tbody></tbody>
                </table>
                <div class="form-group pt-3">
                    <label for="x">出力期間</label>
                    <div class="datechoices input-daterange input-group">
                        @Html.TextBoxFor(m => m.From_Date, new
                          {
                              @class = "form-control",
                              @type= "date",
                              @tabindex = "2",
                              @id = "txt_startDate",
                              @name = "txt_startDate"
                            })
                        <div class="input-group-addon">～</div>
                        @Html.TextBoxFor(m => m.To_Date, new
                       {
                           @class = "form-control",
                           @type= "date",
                           @tabindex = "3",
                           @id = "txt_endDate",
                           @name = "txt_endDate"
                       })
                        @Html.HiddenFor(m=>m.Radio_Value, new
                           {
                               @id = "txt_radio",
                               @name = "txt_radio"
                           })
                    </div>

                    <div class="pt-2 text-center">
                        <button type="submit" id="btn_Staff" class="btn btn-outline-secondary btn" tabindex="4">社員別明細出力</button>
                    </div>
                    <h5 class="text-right pt-4">@ViewBag.CompanyName</h5>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type='text/javascript'>
        $(document).ready(function () {
            //select M_Staff Table list
            var response = CalltoApiController('@Url.Action("EmployeeList", "api/EmployeeListApi")', null);
            var data = JSON.parse(response);
            if (data.length > 0) {
                SetData(data)
            }

            //get value for radio button
            var radios = $("input[type=radio]");
            var radio_value = "";
            radios.change(function () {
                radio_value = $(this).val();
                $('#b_emp').text($("#lbl_" + radio_value).text());
            });

            //$(window).bind("beforeunload", function () {
            //    delete_cookie("Admin_Member_ID");
            //   // return confirm("Do you really want to close?");
            //});
            $('.form-signin').submit(function () {
                if ($("#txt_startDate").val() == "" || $("#txt_endDate").val() == "" || radio_value == "") {
                    alert("入力内容を確認してください")
                    return false;
                }
            });
        });

            function SetData(data) {
                for (var i = 0; i < data.length; i++) {
                    $('#staff_Table > tbody:last-child').append('<tr><td><input type="radio" class="' + i + '" name="name_select_one" id="' + data[i].member_id + '" value="' + data[i].member_id + '"  />   <label id="lbl_' + data[i].member_id + '">' + data[i].member_name + '</label></td></tr>');
                }
                $('.0').focus(); $('.0').attr("tabindex", 1);
             }
            function delete_cookie(name) {
                document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }

    </script>
}
