@model DRMS_Models.ConstructionListModel
@{
    ViewBag.Title = "ConstructionList";
    Layout = "~/Views/Shared/_DRMSLayout.cshtml";
}

<style type="text/css">
    table.table tr.selected {
        background-color: #0e0beb !important;
        color: #fff;
        font-size: large;
    }

    /*.prjid {
        display: none;
    }*/
</style>

<canvas class='connecting-dots' id="experiment"></canvas>
<div class="container">
    <div class="container">
        <div class="wrapper">
            <form action="@Url.Action("ConstructionList", "ConstructionList")" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">WEB日報管理システム</h3>

                <h4 class="form-signin-heading">工事一覧</h4>
                <hr class="colorgraph"><br>

                <table id="tblConstruction" tabindex="0" class="table table-hover table-striped header-fixed">
                    <tbody>
                    </tbody>
                </table>
                <div class="form-group pt-3">
                    <label for="x">出力期間</label>
                    <div class="datechoices input-daterange input-group">
                        @Html.TextBoxFor(m => m.startDate, new
                        {
                            @class = "form-control",
                            @type = "date",
                            @tabindex = "2",
                            @id = "txtstartDate",
                            @name = "txtstartDate"
                        })
                        <div class="input-group-addon">～</div>
                        @Html.TextBoxFor(m => m.endDate, new
                        {
                            @class = "form-control",
                            @type = "date",
                            @tabindex = "3",
                            @id = "txtendDate",
                            @name = "txtendDate"
                        })
                        @Html.HiddenFor(m => m.prjCD, new
                        {
                            @id = "txtprjCD",
                            @name = "txtprjCD"
                        })
                        @Html.HiddenFor(m => m.prjName, new
                        {
                            @id = "txtprjName",
                            @name = "txtprjName"
                        })
                    </div>
                    <div class="pt-2 text-center">
                        <button type="submit" id="btn" class="btn btn-outline-secondary btn" data-pdfdata-url='@Url.Action("GetPDFData", "api/ConstructionListAPI")'>工事別明細出力</button>
                    </div>
                    <h5 id="companyname" class="text-right pt-4"></h5>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function (e) {
            var response = CalltoApiController('@Url.Action("GetPrjData", "api/ConstructionListAPI")', null);
            BindData(JSON.parse(response));

            $("input[type=radio]").change(function () {
                $('#txtprjCD').val($(this).attr('id'));
                $('#txtprjName').val($(this).val());
            });

            $('.form-signin').submit(function () {
                if ($("#txtstartDate").val() == "" || $("#txtendDate").val() == "" || $('#txtprjCD').val == "") {
                    alert("入力内容を確認してください");
                    return false;
                }
            });

            $('#txtstartDate').change(function () {
                document.getElementById("txtendDate").setAttribute("min", $('#txtstartDate').val());
            });

            $('#txtendDate').change(function () {
                document.getElementById("txtstartDate").setAttribute("max", $('#txtendDate').val());
            });
        });

        function BindData(data) {
            for (var i = 0; i < data.length; i++) {
                $('#tblConstruction > tbody:last-child').append('<tr onclick="trclick(this)"><td><input type="radio" class="prjid ' + i + '" name="name_select_one" id="' + data[i].project_id + '" value="' + data[i].project_name + '"  />   <label id="lbl_' + data[i].project_id + '" class="prjname">' + data[i].project_name + '</label></td></tr>');
            }
            $('.0').focus(); $('.0').attr("tabindex", 1);

            $('#txtstartDate').attr("tabindex", 2);
            $('#txtendDate').attr("tabindex", 3);
            $('#btn').attr("tabindex", 4);
        }

        function trclick(ctrl) {
            //$('.selected').removeClass('selected');
            //$(ctrl).addClass("selected");
            //$('.prjid', ctrl).prop("checked", true);
            //$('.prjid', ctrl).change();
        }
    </script>
}