
@{
    ViewBag.Title = "DailyReportEntry";
    Layout = "~/Views/Shared/_DRMSLayout.cshtml";
}

<canvas class='connecting-dots' id="experiment"></canvas>
<div class="container">
    <div class="container">
        <div class="wrapper">
            <form action="" method="post" name="ReportEntry_Form" class="form-signin">
                <h3 class="form-signin-heading">WEB日報管理システム</h3>

                <h4 class="form-signin-heading">日報入力</h4>
                <hr class="colorgraph"><br>

                <label class="required" for="txtmember_name" style="padding-right: 0.2em">社員名 :</label><label class="required" for="txtmember_name" id="txtmember_name"></label><br>

                <label class="required" for="txtdate">日付</label> <br>
                <input type="date" id="txtdate" class="form-control" name="date" placeholder="2021/11/16" required="" /><br>

                <label class="required" for="pjname">工事名</label> <br>
                <select class="form-control input-sm" maxlength="50" tabindex="5" id="pjname" onkeydown="KeyDown(event,this,'RelatedCompanyName')"></select><br>

                <label class="required" for="txtatt_time">出勤時間</label> <br>
                <input type="time" id="att_start_date" class="form-control" name="starttime" placeholder="12:30" required="" /><br>

                <label class="required" for="txtleave_time">退勤時間</label> <br>
                <input type="time" id="att_end_date" class="form-control" name="endtime" placeholder="12:30" required="" /><br><br>

                <button id="btnSave" class="btn btn-lg btn-outline-secondary btn-block" name="Submit" value="submit" type="Submit">
                    送信
                </button>
                <h5 class="text-right pt-5">@Model.company_name</h5>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function (e) {

            $("#txtdate").focus();

            //bind project name
            BindProjectType();

            //data accept from cookie
            var obj = {
                member_id: '@Model.member_id',
            };
            var response = CalltoApiController('@Url.Action("Getmember", "api/DailyReportAPI")', obj);
            var data = JSON.parse(response);
            if (data.length > 0) {
                SetData(data)
            }

            //btnSave event
            $("#btnSave").click(function (e) {
                e.preventDefault();
                //Errorcheck
                if ($("#txtdate").val() == '' || $("#pjname").val() == '' || $("#att_start_date").val() == '' || $("#att_end_date").val() == '') {
                    alert("未入力項目があります");
                }
                else {
                    var start_time = $("#att_start_date").val();
                    var end_time = $("#att_end_date").val();

                    if (start_time >= end_time) {
                        $("#att_start_date").focus();
                        alert("入力内容を確認してください");
                        return false;
                    }
                    else {
                        var obj = {
                    member_id: '@Model.member_id',
                    work_date: $("#txtdate").val(),
                    project_id: $("#pjname").val(),
                    Attendance_time: $("#att_start_date").val(),
                    Leave_time: $("#att_end_date").val(),
                    };

                    //duplicate error check
                    var resp = CalltoApiController('@Url.Action("GetWorkHistory", "api/DailyReportAPI")', obj);
                    var data = JSON.parse(resp);
                    if (data.length > 0) {
                        alert("入力内容を確認してください");
                        $("#txtdate").focus();
                    }
                    else {
                        //insert data into workhistory table
                        var response = CalltoApiController('@Url.Action("DailyReportInsert", "api/DailyReportAPI")', obj);
                        if (response = true) {
                            alert("入力成功");
                            Clear();
                            $("#txtdate").focus();
                        }
                    }
                    }
                }

            })
        });

        // clear
        function Clear() {
            $("#txtdate").val('');
            $('#pjname').val('0001');
            $("#att_start_date").val('');
            $("#att_end_date").val('');

        }

        function BindProjectType() {
            var obj = {
                project_name: ''
            };
            BindDropdown('pjname', 'project_id', 'project_name', '@Url.Action("GetProjectName", "api/DailyReportAPI")', obj);
        }

        function SetData(data) {
            $("#txtmember_name").text(data[0].member_name);
        }

        //function delete_cookie(name) {
        //    document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        //}

    </script>
}